.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: 3px 5px;
}

.heading-container {
  text-align: center;
  margin-bottom: 30px;
  width: 90%;
}

.heading-container h1 {
  margin-bottom: 15px;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 32px;
}

.subtitle {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0px 0px 15px 0px;
  color: #3a3b3c;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links h2 {
  padding: 0px 4px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
  width: 60%;
  margin: 10px 0px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-container input {
    margin-right: 12px;
}

.button, .disabled-button, .button-crud, .disabled-button-crud{
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 4px 15px;
    background-color: whitesmoke;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
}

.button-crud, .disabled-button-crud {
  padding: 4px 10px;
}

.disabled-button {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.button:active{
    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.6);

}

.button:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.temp-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.temp-label, .equals-sign, .duration-label, .elapsed-label, .name-label, .success-msg{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.success-msg {
  text-align: center;
}

.flight-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.flight-input-container input {
    margin: 5px 0px;
}

.invalid-input {
    background-color: red;
}

.flight-input-container .button {
    margin: 10px 0px 0px 0px;
}

.flight-input-container select {
    padding: 3px 5px;
    margin-bottom: 5px;
}

.duration-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seconds, .list-item{
    font-size: 14px;
    font-weight: 600;
}

.time-elapsed-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.time-elapsed-bar-outer {
    height: 20px;
    width: 100%;
    background-color: #dedede;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 3;
    margin: 0px, 10px;
}

.time-elapsed-bar-inner {
  height: 100%;
  background-color: #98B4AA;
  transition: all 0.04s ease-in;
}

.duration-container { 
  display: flex;
  flex-direction: row;
   margin-top: 10px;
   align-items: center;
   justify-content: space-between
}

.form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        width: 100%;
}

.listbox {
  display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid #dedede;
        width: 100%;
        margin: 10px 10px 0px 0px;
        border-radius: 5px;
        padding: 2px 0px;
       
}


.list-item {
  display: flex;
  flex-direction: row;
  width: 100%

}
.list-item p {
  margin: 5px 0px;
  padding: 0px 10px;
}

.name-input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0px;
}

.listbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-div {
  margin-top: 30px;
}



@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 10px 20px;
  }
  .App {
    padding: 30px;
  }
  .heading-container {
    width: 100%;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 10px;
  }
  .form-container {
    align-items: stretch;
  }
  .listbox-container {
  flex-direction: column;
  
  }
  .listbox {
    min-height: 100px;
  }
  .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
